# 临时文件
*.tmp
*.temp
tmp/
temp/

# data
data/*
logs_new/*

# record
results_new/*

venv/*
checkpoints_new/*
vocab_new/*
vocab/*

# front end
frontend/node_modules/*

# back end
backend/wheel
backend/wheels
backend/__pycache__
# util
util/*

src/__pycache__
